<!DOCTYPE html>
<html>
  <head>
    <title>CodingForKids</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <nav id="nav">
      <div class="nav-wrapper yellow lighten-5">
        <div class="brand-logo" id="logo">
          <%= image_tag "logo.png" %>
        </div>
        <div class="right">
          <%= link_to "Games" , games_path %>
          <% if user_signed_in? %>
            <a href="<%=  user_path(current_user) %>">
              <% if current_user.image.url %>
                <%= cl_image_tag current_user.image, class: "circle responsive-img"  , :size => "50x50" %>
              <% else %>
                <%= cl_image_tag image_tag('avatar_b.png'), class: "circle responsive-img"  , :size => "50x50" %>
              <% end %>
            </a>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
