<!DOCTYPE html>
<html>
  <head>
    <title>CodingForKids</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="logo">
      <%= image_tag "logos(1).png" %>
    </div>
    <div id="img_box">
      <%= image_tag "kid1(1).png", id: "kid1", class: "kid"%>
      <%= image_tag "kid0(1).png" , id:"kid2", class: "kid"%>
      <%= image_tag "kid2(1).png"  , id:"kid3", class: "kid"%>
      <%= image_tag "kid3(1).png" , id:"kid4", class: "kid"%>
      <%= image_tag "css(1).png" , id:"css_img", class: "languages"%>
      <%= image_tag "html(1)" , id:"html_img", class: "languages" %>
      <%= image_tag "php(1).png" ,id:"php_img", class: "languages" %>
      <%= image_tag "js(1).png",id:"js_img", class: "languages" %>
      <%= image_tag "python.png",id:"python_img", class: "languages" %>
    </div>
    <nav id="nav">
      <div>
        <div class="right">
       <%= link_to "Games",id:"G" %>
        
          <% if user_signed_in? %>
            <a href="<%=  user_path(current_user) %>">
              <% if current_user.image.url %>
                <%= cl_image_tag current_user.image, class: "circle responsive-img"  , :size => "50x50" %>
              <% else %>
                <%= cl_image_tag image_tag('avatar_b.png'), class: "circle responsive-img"  , :size => "50x50" %>
              <% end %>
            </a>
            <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>
          <% end %>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
